.progress{
    border: 1px solid;
    border-color: $effect-color;
    border-radius:$default-border-radius;
    height: 25px;
    margin-bottom: 20px;
    padding: 5px;

    &--big{
        height: 50px;
    }
    
    &--color-red{
        border-color: orangered;
    }

    &--color-green{
        border-color: $effect-color;
    }
    
    &__bar{
        height: 100%;
        background-color: black;
    }
    
    &--color-red .progress__bar{
        background-color: orangered;
    }

    &--color-green .progress__bar{
        background-color:$effect-color;
    }
}

