.TimeboxCreator{
    text-align: $default-text-align;
    border: $default-border;
    border-radius: $default-border-radius;
    padding: $default-padding;
    margin-bottom: $default-margin-bottom;
    background-color: darken(aliceblue,20);
}