.TimeboxEditor{
    background-color: $default-background-color;
    text-align: $default-text-align;
    border: $default-border;
    border-radius: $default-border-radius;
    padding: $default-padding;
    margin-bottom: $default-margin-bottom;
    background-color: $default-background-color;
}