$default-text-align:right;
$default-padding: 20px;
$default-margin-bottom: 20px;
$default-margin: 10px auto 10px auto;
$default-border-radius: 0px;
$default-background-color: rgba(27, 53, 73, 0.521);
$secondary-color: rgba(6, 6, 15, 0.514);
$effect-color: rgb(229, 255, 115);