@import "./components/App.scss";
@import "./components/AnalogClock.scss";
@import "./components/Clock.scss";
@import "./components/CurrentTimebox.scss";
@import "./components/Timebox.scss";
@import "./components/ProgressBar.scss";
@import "./components/TimeboxEditor.scss";
@import "./components/TimeboxCreator.scss";
@import "./components/LoginForm.scss";


.header {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    color: #fff;

    &__logout-link{
        margin-left: 10px;
        color: darkgrey;
    }
}