@import "./components/App.scss";
@import "./components/AnalogClock.scss";
@import "./components/Clock.scss";
@import "./components/CurrentTimebox.scss";
@import "./components/Timebox.scss";
@import "./components/ProgressBar.scss";
@import "./components/TimeboxEditor.scss";
@import "./components/TimeboxCreator.scss";

.LoginForm{
    text-align: $default-text-align;
    border: $default-border;
    border-radius: $default-border-radius;
    padding: $default-padding;
    margin-bottom: $default-margin-bottom;
    background-color: lighten(rgb(252, 147, 147),10);  

    &__error-message{
        color: crimson;
        margin: 15px auto;
        border: crimson 1px solid;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
    }
}

.header {
    display: flex;
    justify-content: flex-end;
    margin: 15px;

    &__logout-link{
        margin-left: 10px;
    }
}